{% extends 'base.html' %} {% block title %}Add Transaction{% endblock %} {%
block content %}
<h1 align="center">Add Transaction</h1>

<form method="POST">
  <label for="description">Date:</label>
  <input
    type="date"
    class="form-control"
    id="date"
    name="date"
    placeholder="2000-01-01"
  />
  <br />

  <label for="description">Description:</label>
  <input
    type="description"
    class="form-control"
    id="description"
    name="description"
    placeholder="apples"
  />
  <br />

  <label for="amount">Amount:</label>
  <input
    type="amount"
    class="form-control"
    id="amount"
    name="amount"
    placeholder="NZD"
  />
  <br />

  <label for="category">Category:</label>
  <input
    type="category"
    class="form-control"
    id="category"
    name="category"
    placeholder="Foods"
  />
  <br />

  <label for="type">Type:</label>
  <select name="type">
    <option value="income">Income</option>
    <option value="expense">Expense</option>
  </select>
  <br />
  <button type="submit" class="btn btn-primary">submit</button>
</form>

{% endblock %}
