{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<style>
  * {
    box-sizing: border-box;
  }

  .background_styles {
    background-color: #f3ebd0;
    border-radius: 10px;
  }

  .flex_row_nowrap {
    display: flex;
    flex: row nowrap;
  }
  .flex_fixed_item {
    flex: 0.5 0 100px;
    background-color: #c4d7b5;
  }
  .flex_item_stretch {
    flex: 1 1 150px;
  }
  .border1 {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(44, 46, 35, 0.3);
  }

  .content_wrap {
    width: 100%;
    padding: 20px;
    height: 250px;
  }

  .content_item {
    height: 100%;
  }

  .image_wrap {
    flex: 0 0 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .driver_desc_wrap {
    flex: 1 1 100px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5%;
  }

  img {
    border-radius: 5%;
  }

  .no_border_radius {
    border-radius: 0%;
  }

  ul {
    padding: 0;
  }
  li {
    line-height: 1.8rem;
    list-style-type: none;
    padding-left: 20px;
  }
  .container {
    flex: 1 1 300px;
    margin-top: 30px;
    height: 300px;
  }
  .memo_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .no_padding > li {
    padding: 0;
  }
  .margin_left {
    margin-left: 15px;
  }
</style>
<header>
  <h1 align="center">
    {{user.constructor}}
    <img
      class="no_border_radius"
      src="/static/team_logo/{{user.constructor}}.png"
      width="40px"
      alt="hahah"
    />
  </h1>
</header>
<section>
  <div class="content_wrap flex_row_nowrap border1">
    <div class="flex_fixed_item background_styles memo_wrap">
      <div class="display_inline_block">
        <h5 align="center">Season {{current_year|safe}}</h5>
        <h6 align="center">Next Race</h6>
        <ul class="no_padding">
          <li>{{next_race[0].raceName|safe}}</li>
          <li>(New Zealand Times)</li>
          <li>{{next_race[0].nz_date|safe}}</li>
          <li>{{next_race[0].nz_time|safe}}</li>
        </ul>
      </div>
    </div>
    <div
      class="flex_item_stretch margin_left background_styles flex_row_nowrap"
    >
      <div class="image_wrap">
        <img src={{profiles[favorite_drivers[0]]["pic_url"]}} width="100%"
        alt="Description of the image">
      </div>
      <div class="driver_desc_wrap">
        <ul>
          <li>
            {{profiles[favorite_drivers[0]].profile.givenName}}
            {{profiles[favorite_drivers[0]].profile.familyName}}
          </li>
          <li>
            <strong>D.O.B:</strong>
            {{profiles[favorite_drivers[0]].profile.dateOfBirth}}
          </li>
          <li>
            <strong>Nationality:</strong>
            {{profiles[favorite_drivers[0]].profile.nationality}}
          </li>
          <li>
            <strong>Driver Number:</strong>
            {{profiles[favorite_drivers[0]].profile.permanentNumber}}
          </li>
          <li>
            <strong>Points:</strong>
            {{profiles[favorite_drivers[0]].profile.points}}
          </li>
          <li>
            <strong>Positions:</strong>
            {{profiles[favorite_drivers[0]].profile.positions}}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex_item_stretch margin_left background_styles flex_row_nowrap"
    >
      <div class="image_wrap">
        <img src={{profiles[favorite_drivers[1]]["pic_url"]}} width="100%"
        alt="Description of the image">
      </div>
      <div class="driver_desc_wrap">
        <ul>
          <li>
            {{profiles[favorite_drivers[1]].profile.givenName}}
            {{profiles[favorite_drivers[1]].profile.familyName}}
          </li>
          <li>
            <strong>D.O.B:</strong>
            {{profiles[favorite_drivers[1]].profile.dateOfBirth}}
          </li>
          <li>
            <strong>Nationality:</strong>
            {{profiles[favorite_drivers[1]].profile.nationality}}
          </li>
          <li>
            <strong>Driver Number:</strong>
            {{profiles[favorite_drivers[1]].profile.permanentNumber}}
          </li>
          <li>
            <strong>Points:</strong>
            {{profiles[favorite_drivers[1]].profile.points}}
          </li>
          <li>
            <strong>Positions:</strong>
            {{profiles[favorite_drivers[1]].profile.positions}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="flex_row_nowrap">
  <div id="f1_chart_position" class="container"></div>
  <div id="f1_chart_point" class="container"></div>
</div>

<script>

  var positionChartDom = document.getElementById("f1_chart_position");
  var positionChart = echarts.init(positionChartDom);

  var pointChartDom = document.getElementById("f1_chart_point");
  var pointChart = echarts.init(pointChartDom);

  const myRawData = {{plotdata|safe}};

  function drawPointChart(_rawData) {
    let option;
    const players = {{team_to_driver[user.constructor]|safe}};
    const datasetWithFilters = [];
    const seriesList = [];
    const legendList = [];
    echarts.util.each(players, function (player) {
      var datasetId = "dataset_" + player;
      datasetWithFilters.push({
        id: datasetId,
        fromDatasetId: "dataset_raw",
        transform: {
          type: "filter",
          config: { dimension: "driverCode", "=": player },
        },
      });
      legendList.push({
        name: player,
      });

      seriesList.push({
        type: "line",
        datasetId: datasetId,
        showSymbol: false,
        name: player,
        endLabel: {
          show: true,
          formatter: function (params) {
            return params.value[1] + ": " + params.value[2];
          },
        },
        labelLayout: {
          moveOverlap: "shiftY",
        },
        emphasis: {
          focus: "series",
        },
        encode: {
          x: "race",
          y: "points",
          tooltip: ["points"],
        },
      });
    });
    option = {
      animationDuration: 10000,

      dataset: [
        {
          id: "dataset_raw",
          source: myRawData,
        },
        ...datasetWithFilters,
      ],
      title: {
        text: "Culmulative Points of {{user.constructor}} drivers",
        left: "center",
      },
      tooltip: {
        order: "valueDesc",
        trigger: "axis",
        position: function (point, params, dom, rect, size) {
          // fixed at top
          return [point[0] + 30, "10%"];
        },
      },
      xAxis: {
        type: "category",
        nameLocation: "middle",
        name: "Race",
        nameLocation: "center",
        nameGap: 30,
      },
      yAxis: {
        name: "Points",
        nameLocation: "center",
        nameGap: 40,
      },
      grid: {
        right: 140,
      },
      series: seriesList,
    };
    pointChart.setOption(option);
  }

  function drawPositionChart(_rawData) {
    let option;
    const players = {{team_to_driver[user.constructor]|safe}};
    const datasetWithFilters = [];
    const seriesList = [];
    const legendList = [];
    echarts.util.each(players, function (player) {
      var datasetId = "dataset_" + player;
      datasetWithFilters.push({
        id: datasetId,
        fromDatasetId: "dataset_raw",
        transform: {
          type: "filter",
          config: { dimension: "driverCode", "=": player },
        },
      });
      legendList.push({
        name: player,
      });

      seriesList.push({
        type: "line",
        datasetId: datasetId,
        showSymbol: false,
        name: player,
        endLabel: {
          show: true,
          formatter: function (params) {
            return params.value[1] + ": " + params.value[3];
          },
        },
        labelLayout: {
          moveOverlap: "shiftY",
        },
        emphasis: {
          focus: "series",
        },
        encode: {
          x: "race",
          y: "positions",
          tooltip: ["positions"],
        },
      });
    });
    option = {
      animationDuration: 10000,
      dataset: [
        {
          id: "dataset_raw",
          source: myRawData,
        },
        ...datasetWithFilters,
      ],
      title: {
        text: "Culmulative Positions of {{user.constructor}} drivers",
        left: "center",
      },
      tooltip: {
        order: "valueAsc",
        trigger: "axis",
        position: function (point, params, dom, rect, size) {
          // fixed at top
          return [point[0] + 30, "10%"];
        },
      },
      xAxis: {
        type: "category",
        nameLocation: "middle",
        name: "Race",
        nameLocation: "center",
        nameGap: 30,
      },
      yAxis: {
        inverse: true,
        type: "category",
        name: "Position",
        nameLocation: "center",
        nameGap: 30,
        data: Array(23)
          .fill(0)
          .map((item, idx) => idx),
        axisTick: {
          alignWithLabel: true,
        },
      },
      grid: {
        right: 140,
      },
      series: seriesList,
    };
    positionChart.setOption(option);
  }

  setTimeout(function () {
    drawPositionChart(myRawData);
    drawPointChart(myRawData);
  }, 10);
</script>

{% endblock %}
